* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302e2b;
}

.board {
    width: calc(150px * 8);
    height: calc(150px * 8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 3px solid #262522;
}

.cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 130px;
    height: 130px;
    position: relative;
}

.black {
    background-color: #7d945d;
}

.white {
    background-color: #eeeed5;
}